<div class="jumbotron">	
	<h1>Welcome to Up Pix!</h1>
	<p>
		You have found the home page for Up Pix, a <%= link_to "Pintrest", "http://www.Pintrest.com" %> clone. 
	</p>
	<p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Sign Up Now!</a>
	</p>
</div>
