<% if flash[:notice].present? %>
  <div class="alert alert-info">
    <span class="glyphicon glyphicon-info-sign"></span>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-warning-sign"></span>
    <%= flash[:alert] %>
  </div>
<% end %> 