<div class="footer">
	<small>
		Up Pix by Khoi Nguyen. Please visit my other site, <%= link_to "Mycropost", "http://rocky-fortress-1813.herokuapp.com" %>, a <%= link_to "Twitter", "http://www.Twitter.com" %> clone.
	</small>
</div>
